/* CSS Document */

.visual>img{
    width:100%;
}

.tit{
    padding: 50px 0 30px;
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
}
.s1>h3{
    font-size: 20px;

}
.nb_desc>dt,dd{
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;

}
.nb_desc>dt{
    margin-top: 10px;
    height: 30px;
    line-height: 30px;
    font-weight: 600;
}

.right_btn{
    display: block;
    float: right;
    padding-right: 20px;
    padding-top: 30px;
    font-size: 22px;
    color: #887;
}
/*----------------------------------------S2----------------------------------------*/
.s2>h3{
    font-size: 20px;
    clear: both;
}
.online_list{
    margin: 30px auto;
    overflow: hidden;
}
.online_list>li{
    position: relative;
    width:46%;
    margin-left: 2.5%;
    margin-bottom: 3%;
    float: left;
    border-radius: 30px;
    overflow: hidden;
}
.online_list>li>span{
    display: block;
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 16px;
    font-weight: 600;
    color: #ffe;
    font-family: 'Nanum Gothic', sans-serif;

}
.online_list>li>img{
    display: block;
    width:100%;
}
/*----------------------------------------S2----------------------------------------*/
.s3{
    font-size: 20px;
    overflow: hidden;
}
.s3>.product_list1{
    width:100%;
    margin-bottom: 30px;
    border-bottom: 1px solid #aa9;
}

.product_list1>dt>img{
    width: 100%;
}
.product_list1>dd>p{
    width: 90%;
    margin: 10px auto 0;
    padding-bottom: 5%;
    font-size: 14px;
    line-height: 1.5em;
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;

}
.product_list2>dt{
    width:48%;
    float: left;
    margin-left: 2%;
    margin-bottom: 30px;

}
.product_list2>dd{
    width:48%;
    margin-left: 2%;

    float: right;
}
.s3>.product_list2{
    width:100%;
}
.product_list2>dt>img{
    width: 100%;
}
.product_list2>dd>p{
    width: 90%;
    font-size: 14px;
    line-height: 1.5em;
    font-family: 'Nanum Gothic', sans-serif;
}
.product_list2>dd:last-child{
    width:100%;
    margin-top: 20px;
}
.prd_go_box{
    display: block;
    margin-top: 30px;
    clear: both;
    width:90%;
    height: 40px;
    text-align: start;
    line-height: 40px;
    text-indent: 20px;
    margin: 0 auto 30px;
    border:1px solid #aa9;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 14px;
    background-color: #ffe;
    color: #333;
    box-shadow: 5px 5px 5px rgba(150,150,130,0.5);
}
.prd_go_box:first-child{
    
}
.prd_go_box>i{
    padding-top: 12px;
    font-size: 16px;
    color: #333;
}














