body {
    font-family: 'Nanum Gothic', sans-serif;
}

.tit {
    padding: 30px 20px 30px;
    text-align: left;
    font-size: 20px;
    color: #333;
}

.sub_tit {
    padding: 50px 0 50px;
    text-align: center;
    font-size: 20px;
    color: #333;
}

#content {
    margin: 60px 0;
}
.sub_nav{
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    background-color: #ddc; 
    transition: all .5s;
}
.sub_nav_on{
    width:100%;
    position: fixed;
    top: 60px;
}
.sub_nav>li{
    width:33.33%;
    float: left;
    text-align: center;
    transition: all .5s;
}
.changeColor{
    background-color: #bba;
    color: #ffe;
    font-weight: 600;
    transition: all .5s;

}
.sub_nav>li>a{
    display: block;
    height: 50px;
    font-size: 14px;
}
.nb_desc>dt,dd{
    text-align: center;

}
.nb_desc>dt{
    margin-top: 10px;
    height: 30px;
    line-height: 30px;
    font-weight: 600;
}

.menu_description{
    width:80%;
    font-size: 16px;
    padding-left: 20px;
    padding-top: 30px;
}
